html{
    background: #E8E8DE;
}

hr{
    border-color: darkslategray;
}

.info{
    text-align: justify
}

h1{
    text-align: center
}

.image{
    margin: 20px;
    width: 300px; height: 300px;
}

.fixed{
    width: 600px;
}